body{
    margin : 0;
    overflow-x : hidden;
    font-family: "Open Sans", sans-serif;
}
*{
    box-sizing:border-box;
}
nav .left-part .logo{
    width : 100px;
    margin : 40px;
}
nav  .middle-part .middle-navbar{
    display : flex;
    margin : 40px;
}
nav{
    display : flex;

}
nav  .right-part{
    margin-top : 40px;
}
nav .middle-part .middle-navbar .list-heading{
    display : none;

}
.middle-navbar:hover .list-heading{
    display : flex;
    align-items:flex-start;
    justify-content:space-between;
    visibility : visible;

}